#Root {
    flex-direction: row;
    flex-grow: 0;
}

.unity-label {
    width: 37%;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 0;
}

.property {
    width: 65%;
}

.unity-popup-field {
    width: 5%;
    flex-direction: row-reverse;
}
